{% extends 'base.html' %}

{% block content %}
    <div id="heating">
        <p class="title-2">Chauffage</p>
        <div>
            <div class="block">
                <div class="title-block"><i class="fa-regular fa-clipboard"></i> Température</div>
                <div class="data-block">
                    <p id="temp-ext">t° ext :<span>10°C</span></p>
                    <p id="temp-int">t° int :<span>15°C</span></p>
                </div>
            </div>
            <div class="block">
                <div class="title-block"><i class="fa-solid fa-temperature-three-quarters"></i> Gestion température
                </div>
                <div class="data-block" style="text-align: center">
                    <a href="" class="btn-heating"><i class="fa-solid fa-plus"></i></a>
                    <span id="temp-value">20°C</span>
                    <a href="" class="btn-heating"><i class="fa-solid fa-minus"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="lighting">
        <p class="title-2">Éclairage</p>
        <div>
            <div class="block">
                <div class="title-block"><i class="fa-regular fa-clipboard"></i> Luminosité</div>
                <div class="data-block">
                    <p>lum ext : <span>200 lm</span></p>
                    <p>lum int : <span>200 lm</span></p>
                </div>
            </div>
            <div class="block">
                <div class="title-block"><i class="fa-solid fa-lightbulb"></i> Gestion luminosité</div>
                <div class="data-block" style="text-align: center">
                    <input type="range" min="0" max="100" value="50"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}