{% extends 'base.html' %}

{% block content %}
    <div id="heating">
        <p class="title-2">Chauffage</p>
        <div>
            <div>
                <div class="block">
                    <div class="title-block"><i class="fa-regular fa-clipboard"></i> Température</div>
                    <div class="data-block">
                        <p class="ext">Extérieur :<span>{{ temperature_outside|floatformat:"0" }}°C</span></p>
                        <p class="int">Intérieur :<span>{{ temperature_inside|floatformat:"0" }}°C</span></p>
                    </div>
                </div>

                <div class="block">
                    <div class="title-block"><i class="fa-solid fa-temperature-three-quarters"></i> Gestion température
                    </div>
                    <div class="data-temp-des" style="text-align: center">
                        <form method="POST" hx-target="#temp-value" hx-swap="innerHTML"
                              hx-post="{% url "increase_temperature" room.slug %}">
                            {% csrf_token %}
                            <button class="btn-heating"><i class="fa-solid fa-plus"></i></button>
                        </form>
                        <span id="temp-value">
                        {{ room.d_heating.heating_data.last.temperature_desired|floatformat:"0" }}°C
                    </span>
                        <form method="POST" hx-target="#temp-value" hx-swap="innerHTML"
                              hx-post="{% url "decrease_temperature" room.slug %}">
                            {% csrf_token %}
                            <button class="btn-heating"><i class="fa-solid fa-minus"></i></button>
                        </form>

                    </div>
                </div>
            </div>

            <div id="chartTemperature" class="chart"></div>
        </div>
    </div>

    <div id="lighting">
        <p class="title-2">Éclairage</p>
        <div>
            <div>

                <div class="block">
                    <div class="title-block"><i class="fa-regular fa-clipboard"></i> Luminosité</div>
                    <div class="data-block">
                        <p class="ext">Extérieur : <span>{{ brightness_outside }}</span></p>
                        <p class="int">Intérieur : <span
                                id="light-value">{{ brightness_inside|floatformat:"0" }}%</span>
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="title-block"><i class="fa-solid fa-lightbulb"></i> Gestion luminosité</div>
                    <div class="data-block" style="text-align: center">
                        <form method="POST" hx-trigger="input delay:500ms"
                              hx-post="{% url "change_brightness" room.slug %}"
                              hx-target="#light-value" hx-swap="innerHTML">
                            {% csrf_token %}
                            <input id="light-value" type="range" name="light-range" min="0" max="100"
                                   value="{{ brightness_inside|floatformat:"0" }}"/>
                        </form>
                    </div>
                </div>
            </div>

            <div id="chartLight" class="chart"></div>
        </div>
    </div>

    <script>
        window.onload = function () {
            let chartTemperature = new CanvasJS.Chart("chartTemperature", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Température par heure",
                    margin: 20,
                    fontSize: 19,
                },
                axisX: {
                    title: "Heure",
                },
                axisY: {
                    title: "Température",
                },
                data: [{
                    type: "spline",
                    color: "#ffd803",
                    dataPoints: {{ chart_data_1|safe }},
                    xValueType: "dateTime",
                    toolTipContent: "Heure: {x}<br/>Température: {y} °C",
                    showInLegend: true,
                    legendText: "intérieur"
                }, {
                    type: "spline",
                    color: "#737373",
                    dataPoints: {{ chart_data_1_threshold|safe }},
                    xValueType: "dateTime",
                    toolTipContent: "Heure: {x}<br/>Température: {y} °C",
                    showInLegend: true,
                    legendText: "extérieur"
                }]
            });

            let chartLight = new CanvasJS.Chart("chartLight", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Luminosité par heure",
                    margin: 20,
                    fontSize: 19,
                },
                axisX: {
                    title: "Heure",
                },
                axisY: {
                    title: "Luminosité (%)",
                },
                data: [{
                    type: "line",
                    color: "#ffd803",
                    dataPoints: {{ chart_data_2|safe }},
                    xValueType: "dateTime",
                    toolTipContent: "Heure: {x}<br/>Luminosité: {y} %",
                    showInLegend: true,
                    legendText: "intérieur"
                }, {
                    type: "spline",
                    color: "#737373",
                    dataPoints: {{ chart_data_2_threshold|safe }},
                    xValueType: "dateTime",
                    toolTipContent: "Heure: {x}<br/>Luminosité: {y} %",
                    showInLegend: true,
                    legendText: "extérieur"
                }]
            });

            chartTemperature.render();
            chartLight.render()
        }

    </script>


{% endblock %}