{% extends 'base.html' %}

{% block content %}

    <div id="content-info">
        <div id="weather" class="info">
            <div class="type"><img src="{{ weather.current.weather_icons|first }}"></div>
            <div class="data">
                <div id="temperature">{{ weather.current.temperature }}°C</div>
                <div id="city"><i class="fa-solid fa-location-dot fa-2xs"></i> {{ weather.location.name }}</div>
            </div>
        </div>

        <div id="season" class="info">
            <div class="type"></div>
            <div class="data">
                <div>{{ season|capfirst }}</div>
            </div>
        </div>

        <a hx-post="{% url "change_night_mode" %}" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
           hx-target="this" hx-swap="innerHTML"
           id="day-night" class="info">
            <div>
                {% if not all_rooms_night_mode %}
                    <i class="fa-solid fa-sun fa-xl day"></i>
                {% else %}
                    <i class="fa-regular fa-moon fa-xl night"></i>
                {% endif %}
            </div>
        </a>


        <a href="{% url 'electric_consumption' %}" id="consommation" class="info">
            <div class="type"><i class="fa-solid fa-chart-simple fa-sm"></i></div>
            <div class="data">
                <div>Consommation</div>
            </div>
        </a>

    </div>

    <div id="content-widget">
        {% for room in rooms %}
            <a href="{% url 'room' room.slug %}" class="widget">
                <div>
                    <span>{{ room.name|capfirst }}</span>
                    <span><i class="fa-solid fa-lightbulb fa-sm"></i>
                        {% if room.d_lighting.lighting_data.last.brightness_inside > 0 %}
                            On
                        {% else %}
                            Off
                        {% endif %}
                    </span>
                </div>
                <div id="widget-data">
                    <span>{{ room.d_heating.heating_data.last.temperature_inside|floatformat:"0"|default:"/" }}°C</span>
                    <span>
                        {% if room.d_lighting.lighting_notifications.last or room.d_heating.heating_notifications.last %}
                            <i style="color: #ffd803" class="fa-solid fa-bell fa-lg fa-shake"></i>
                        {% else %}
                            <i class="fa-solid fa-bell fa-lg"></i>
                        {% endif %}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>

    {{ season|json_script:'data_season' }}
{% endblock %}