{% extends 'base.html' %}

{% block content %}

    <div id="content-info">
        <div id="weather" class="info">
           <div class="type"><i class="fa-solid fa-cloud"></i></div>
            <div class="data">
                <div id="temperature">20°C</div>
                <div id="city"><i class="fa-solid fa-location-dot fa-2xs"></i> Namur</div>
            </div>
        </div>

        <a href="#" id="consommation" class="info">
            <div class="type"><i class="fa-solid fa-chart-simple fa-sm"></i></div>
            <div class="data">
                <div>Consommation</div>
            </div>
        </a>
    </div>

    <div id="content-widget">
        <a href="{% url 'room' 'chambre' %}" class="widget">
            <span>Chambre</span>
            <span>27°C</span>
            <span>Notification</span>
        </a>
        <a href="" class="widget">
            <span>Salon</span>
        </a>
        <a href="" class="widget">
            <span>Cuisine</span>
        </a>
        <a href="" class="widget">
            <span>Salle de Bain</span>
        </a>
    </div>

{% endblock %}