{% extends 'base.html' %}

{% block content %}

    <div id="content-info">
        <div id="weather" class="info">
           <div class="type"><i class="fa-solid fa-cloud"></i></div>
            <div class="data">
                <div id="temperature">20°C</div>
                <div id="city">Namur</div>
            </div>
        </div>

        <div id="consommation" class="info">
            <div class="type"><i class="fa-solid fa-chart-simple"></i></div>
            <div class="data">
                <div>Consommation</div>
            </div>
        </div>
    </div>

    <div id="content-widget">
        <div class="widget">
            <span style="color: white">Chambre</span>
        </div>
        <div class="widget">
            <span style="color: white">Salon</span>
        </div>
        <div class="widget">
            <span style="color: white">Cuisine</span>
        </div>
        <div class="widget">
            <span style="color: white">Salle de Bain</span>
        </div>
    </div>

{% endblock %}