{% extends 'base.html' %}

{% block title %}Consommation chauffage{% endblock %}

{% block content %}
    <div id="chartConsumption" class="chart"></div>
    <script>
        window.onload = function () {
            let chartConsumption = new CanvasJS.Chart("chartConsumption", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Consommation chauffage",
                    margin: 20,
                    fontSize: 19,
                },
                axisX: {
                    title: "Heure",
                },
                axisY: {
                    title: "Consommation (L)",
                },
                data: [
                    {% for key, value in heating_data.items %}
                        {
                            type: "column",
                            color: "{{colors|random}}",
                            dataPoints: {{value|safe}},
                            xValueType: "dateTime",
                            toolTipContent: "Heure: {x}<br/>Consommation: {y}L",
                            showInLegend: true,
                            legendText: "{{key|safe}}"
                        },
                    {% endfor %}
                ]
            });


            chartConsumption.render();
        }

    </script>
{% endblock %}
```