{% extends 'base.html' %}

{% block content %}

    {% include 'consumption/consumption.html' %}

    <div class="consumption">
        <p class="title-2">Générale</p>

        <div id="chartConsumption" class="chart"></div>
    </div>


    <script>
        window.onload = function () {
            let chartConsumption = new CanvasJS.Chart("chartConsumption", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Consommation chauffage",
                    margin: 20,
                    fontSize: 19,
                },
                axisX: {
                    title: "Date",
                    interval: 1,
                    intervalType: "month",
                    valueFormatString: "MMM",
                },
                axisY: {
                    title: "Consommation (L)",
                },
                data: [
                    {
                        type: "column",
                        color: `#${Math.floor(Math.random() * 0xFFFFFF).toString(16).padStart(6, '0')}`,
                        dataPoints: {{heating_data|safe}},
                        toolTipContent: "Month: {label}<br/>Consommation: {y}L",
                        showInLegend: true,
                        legendText: "Consommation"
                    },
                ]
            });
    
            chartConsumption.render();
        }
    </script>


{% endblock %}