@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --color-headline: #272343;
    --color-txt: #2d334a;
    --color-btn: #ffd803;
    --color-background: #e3f6f5;
    --color-white: #fffffe;
}

* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.btn:hover, .active-link {
    background-color: var(--color-btn);
    color: white;
    border-radius: 8px;
}

.title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-txt);
}

.title-2 {
    font-size: 1.17rem;
    font-weight: 600;
    color: var(--color-txt);
}

/**** NOTIF ****/

#all-notification {
    display: flex !important;
    flex-wrap: wrap;
}

#notification {
    position: relative;
    background-color: var(--color-btn);
    color: var(--color-txt);
    min-height: 10vh;
    width: 500px;
    padding: 20px 35px 20px 25px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}


#notification .notification-content {
    display: flex;
    align-items: center;
}

.notification-content .bell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    background-color: var(--color-headline);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.notification-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-txt);
}

.message .text.text-1 {
    font-weight: 600;
}

.message .text.text-2 {
    opacity: 0.8;
}

#notification .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

#notification .close:hover {
    opacity: 1;
}

.notif-btn {
    width: 150px;
    text-align: center;
    border: 0px;
    border-radius: 12px;
    background: var(--color-white);
    margin-top: 12px;
    padding: 5px 0 5px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.8s;
}

.notif-btn:hover {
    opacity: 0.8;
}

.notif-btn i {
    color: var(--color-headline);
}

@media screen and (max-width: 1100px) {
    #notification {
        width: 100% !important;
    }
}


/**** BASE ****/

#container {
    display: flex;
}

#menu {
    width: 20%;
    height: 100%;
    padding: 50px 25px 0;
    background-color: var(--color-background);
    position: fixed;
    transition: 0.8s ease;
}

#menu .title-2 {
    margin-top: 28px;
}

#menu p {
    padding-left: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

nav a {
    padding: 14px 0px 14px 10px;
    color: var(--color-txt);
}

nav a span {
    margin-left: 15px;
}

#content {
    width: 80%;
    padding: 50px 30px 30px;
    margin-left: auto;
}

@media screen and (max-width: 1100px) {
    #menu {
        position: fixed;
        width: 100%;
        z-index: 1;
        left: -600px
    }

    #burger-menu-open, #burger-menu-close {
        margin-bottom: 20px;
    }

    #burger-menu-open {
        display: block !important;
    }

    #burger-menu-close {
        display: flex !important;
        justify-content: flex-end;
    }

    #content {
        width: 100%;
        padding-top: 40px;
    }
}

/* BURGER MENU */
#burger-menu-open, #burger-menu-close {
    display: none;
}

#menu.active {
    left: 0;
}

/**** CORE ****/

/* INFO */

#content-info {
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.info {
    height: 55px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-headline);
}

#weather, #season, #consommation, #day-night {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.info .type, .info .data {
    padding: 8px 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    font-size: 2rem;
    color: white;
}

.type img {
    height: 100%;
}

.data {
    flex-direction: column;
}

.data > div {
    font-size: 1rem;
    color: white;
}

#city {
    font-size: 0.7rem;
}

#consommation {
    background: var(--color-btn);
    transition: 0.8s;
}

#consommation:hover {
    filter: brightness(0.7);
}

#day-night {
    background: #82ece0;
    padding: 8px 48px 8px;
    min-width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

#day-night:hover {
    filter: brightness(0.7);
}

#day-night div i {
    color: white;
}

.day-night-active {
    background: black !important;
}


/* WIDGET */

#content-widget {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.widget {
    background-color: var(--color-white);
    min-height: 18vh;
    width: 550px;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.widget div {
    display: flex;
    justify-content: space-between;
}

#widget-data {
    margin-top: 30px;
}

#widget-data span:nth-child(1) {
    font-size: 2.8rem;
    color: var(--color-headline);
    margin-right: 80px;
}

#widget-data span:nth-child(2) {
    display: flex;
    align-items: center;
}

.widget:hover {
    transform: scale(1.04);
}

.widget span {
    color: var(--color-txt);
}

@media screen and (min-width: 1600px) {
    .widget {
        margin-right: 30px !important;
    }
}

/**** ROOMS ****/

.block {
    background-color: var(--color-white);
    color: var(--color-txt);
    height: 22vh;
    max-height: 22vh;
    width: 260px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    margin-right: 25px;
    margin-bottom: 25px;
}

.title-block {
    margin-bottom: 30px;
}

#heating, #lighting {
    margin-top: 35px;
}

#heating > div, #lighting > div {
    display: flex;
}

#heating .title-2, #lighting .title-2 {
    margin-bottom: 15px;
}

@media screen and (max-width: 1100px) {
    .block {
        width: 100%;
    }

    #heating > div, #lighting > div {
        display: block;
    }
}

/* HEATING AND LIGHTING */

.data-temp-des {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-heating {
    background: var(--color-btn);
    color: white;
    padding: 10px 12.5px 10px;
    border: 0px;
    border-radius: 50%;
    transition: 0.8s;
    cursor: pointer;
}

.btn-heating:hover {
    filter: brightness(0.7);
}

.ext, .int {
    margin-bottom: 5px;
}

.ext span, .int span {
    margin: 0 10px 0;
    font-weight: 900;
}

#temp-value {
    font-size: 1.2rem;
    margin: 0 15px 0;
    font-weight: 900;
    transition: 0.8s;
}

.chart {
    height: 47.5vh;
    width: 80%;
    margin-bottom: 25px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

.canvasjs-chart-credit {
    display: none !important;
}

@media screen and (max-width: 1100px) {
    .chart {
        width: 100%;
    }
}