@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --color-headline: #272343;
    --color-txt: #2d334a;
    --color-btn: #ffd803;
    --color-background: #e3f6f5;
}

* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-btn);
    color: white;
    border-radius: 8px;
}

.title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-txt);
}

.title-2 {
    font-size: 1.17rem;
    font-weight: 600;
    color: var(--color-txt);
}

/**** BASE ****/

#container {
    display: flex;
    height: 100vh;
}

#menu {
    width: 20%;
    padding: 50px 25px 0;
    background-color: var(--color-background);
}

#menu .title-2 {
    margin-top: 28px;
}

#menu a, #menu p {
    padding-left: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

nav a {
    padding: 14px 0px 14px;
    color: var(--color-txt);
}

nav a span {
    margin-left: 15px;
}

#content {
    width: 80%;
    padding: 50px 30px 30px;
}

/**** BASE ****/